/* Scss Document */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$cream: #faebd7;
$text: #333333;
$bgOvl: rgba(51, 51, 51, 0.8);
$thaBlk: rgba(6, 16, 31, 0.8);
$indRed: #cd5c5c;
$ptitSize: 1.12em;
$pRev: 1.25em;
$pnoteSize: 0.87em;

body{
	margin: 0;
	background-color: $cream;
	font-family: 'Lato', sans-serif;
	color: $text;
	width: 100%;
	height: auto;
	user-select: none;

	p{
		line-height: 100%;
		margin-block-start: 0.7em;
		margin-block-end: 0.7em;
	}
}

header{
	display: inline-flex;
	align-content: flex-start;
	width: 100%;
	height: auto;
	background-color: $indRed;
	padding-bottom: 1em;
	
	#unipi{
		position: absolute;
		margin-top: 1.5em;
		right: 5%;
		width: 7.5em;
		height: 7.5em;
		filter: grayscale(100%);
	}
	
	h1{
		position: relative;
		padding-top: 1em;
		float: left;
		left: 2%;
	}
	
	h2{
		position: relative;
		padding-top: 3em;
		float: left;
		left: 2.4%;
		transform: translate(-30vw, 0);
	}	
}

nav{
	display: none;
	width: 100%;
	position: relative;
	top: -13%;
	right: 20%;
	
	.closebtn{
		position: absolute;
		z-index: 2;
		right: 5em;
		width: 1.875em;
		cursor: pointer;
		
		&::before{
			content: '';
			border-left: 4px solid white;
			height: 30px;
			transform: rotate(-45deg);
			position: absolute;
		}
		
		&::after{
			content: '';
			border-left: 4px solid white;
			height: 30px;
			transform: rotate(45deg);
			position: absolute;
		}
	}
	
}

.content{
	width: 100%;
	height: auto;
	
	#container{
		width: 100%;
		height: auto;
		
		table{
			width: 90%;
			height: 29em;
			transform: translate(5%, 10%);
			border: 0.08em solid $thaBlk;
			border-radius: 15px 50px 15px 50px;
			
			tbody{
				
				tr:nth-of-type(1){
					height: 6em;
					th{
						font-size: $ptitSize;
					}
				}
				tr:nth-of-type(2){
					
					td:nth-of-type(1){
						
						#img_preview{
							position: relative;
							padding-left: 1em;
							cursor: pointer;	
							transform: translate(0%, -50%);
						}
					}
					
					td:nth-of-type(2){
						
						#intest{
							display:block;
							float: left;
							transform: translate(1%, -30%);
						}
						#partial_letter{
							display: none;
							float: left;
							transform: translate(-60%, -20%);
						}
						.btn{
							display: block;
							position: absolute;
							cursor: pointer;
							background-color: $indRed;
							border: none;
							width: 6em;
							height: 2em;
							left: 80%;
							bottom: 2%;
							border-radius: 15px 0px 15px 0px;
							
							p{
								font-size: 1.2em;
								transform: translate(0%, -40%);
								color: $thaBlk;
							}
						}
						.btn:focus{
							outline: none;
						}
						.btn:hover{
							box-shadow: inset 0px -2px 30px -20px rgba(83, 154, 198, .9);
							p{
								color: rgba(51, 51, 51, 0.7);;
							}
						}
						.btn2{
							display: none;
							position: absolute;
							cursor: pointer;
							background-color: $indRed;
							border: none;
							width: 6em;
							height: 2em;
							left: 80%;
							bottom: 2%;
							border-radius: 15px 0px 15px 0px;
							p{
								font-size: 1.2em;
								transform: translate(0%, -40%);
								color: $thaBlk;
							}
						}
						.btn2:focus{
							outline: none;
						}
						.btn2:hover{
							box-shadow: inset 0px -2px 30px -20px rgba(83, 154, 198, .9);
							p{
								color: rgba(51, 51, 51, 0.7);;
							}
						}
					}
				}
			}
		}
	}
	
	#big{
		display: none;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: $bgOvl;
		left: 0%;
		top: 0%;
		right: 0%;
		
		table{
			width: 100%;
			height: auto;
			
			tbody{
			
				tr{
					td{
						img{
							position: absolute;
							top: 5%;
							margin-left: 40em;
							
						}
					}
				}
			}
		}	
	}
}

.notes{
	width: 100%;
	height: auto;
	margin: 4em 0em 1.5em 0em;
	
	p{	
		width: 90%;
		transform: translate(5%, 10%);
		margin: 2em 0em 0em 0em;
		font-size: $pnoteSize;
	}
	
}

footer{
	position: absolute;
	width: 100%;
	height: auto;
	background-color: $indRed;
	bottom: 0%;
	left: 0%;
	
	table{
		width: 80%;
		transform: translate(10%, 0%);
		tbody{
			
			tr{
				td:nth-of-type(1){
					width: 50%;
				}
				td:nth-of-type(2){
					width:auto;
					p{
						position: relative;
						left: 30%;
					}
				}
			}
		}
	}
	p{
		display: inline-flex;
		width: 90%;
		transform: translate(5%, 0%);
		font-size: $pnoteSize;
	}
	
	p:nth-of-type(3){
		margin-left: 4em;
	}
}
